<a href="https://colab.research.google.com/github/marievera/Ejercicios_Python/blob/main/Miniproyecto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Lectura y análisis exploratorio de datos**


**a.   Abrir Google Colab o Jupyter Notebook**

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**b. Importe liberías Pandas**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, LabelBinarizer

**c. Cargar base de datos de nombre ejemplo_data.csv**

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Learning Machine/Modulo1/Miniproyecto1/ejemplo_data.csv")#, index_col="ID" )
df

,ID,Nombre,2016,2017,Crecimiento,Unidades,fecha,Activo
0,10002,Verde Mar,"$125,000.00",$162500.00,30.00%,500,1-10-2015,1
1,552278,Manantial sa,"$920,000.00","$101,2000.00",10.00%,700,6-23-2014,0
2,23477,ACME,"$50,000.00",62500.00,25.00%,125,3-12-2016,1
3,24900,Andes sur,"$350,000.00",490000.00,4.00%,75,10-28-2015,1
4,651029,San Pablo,"$15,000.00",$12750.00,-15.00%,No,2-15-2014,0
5,651029,San Pablo,"-$15,000.00",$ 12750.00,-15.00%,No,2-15-2014,n

**d. Identifique los tipos de variables que hay disponibles en la base de datos**

In [ ]:
tipos_de_variables_df = df.dtypes

print("Tipos de variables en df:")
print(tipos_de_variables_df)

Tipos de variables en df:
ID              int64
Nombre         object
2016           object
2017           object
Crecimiento    object
Unidades       object
fecha          object
Activo         object
dtype: object

**e. Utilizando la función astype, transforme el atributo ID a entero y el atributo activo a binario**

In [ ]:
df['ID'] = df['ID'].astype(int)
df['Activo'] = df['Activo'].astype(int)
df['Activo'] = df['Activo'].replace(['n'], '0')
df['Activo'] = df['Activo'].astype(bool)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           6 non-null      int64
 1   Nombre       6 non-null      object
 2   2016         6 non-null      object
 3   2017         6 non-null      object
 4   Crecimiento  6 non-null      object
 5   Unidades     6 non-null      object
 6   fecha        6 non-null      object
 7   Activo       6 non-null      bool
dtypes: bool(1), int64(1), object(6)
memory usage: 470.0+ bytes

In [ ]:
df

,ID,Nombre,2016,2017,Crecimiento,Unidades,fecha,Activo
0,10002,Verde Mar,"$125,000.00",$162500.00,30.00%,500,1-10-2015,True
1,552278,Manantial sa,"$920,000.00","$101,2000.00",10.00%,700,6-23-2014,False
2,23477,ACME,"$50,000.00",62500.00,25.00%,125,3-12-2016,True
3,24900,Andes sur,"$350,000.00",490000.00,4.00%,75,10-28-2015,True
4,651029,San Pablo,"$15,000.00",$12750.00,-15.00%,No,2-15-2014,False
5,651029,San Pablo,"-$15,000.00",$ 12750.00,-15.00%,No,2-15-2014,False

In [ ]:
from pandas.core.arrays import boolean

#Transformar atributo ID a entero

df['ID'] = df['ID'].astype(int)

# Transformar atributo Activo a binario

df['Activo'] = df['Activo'].replace(['n'], '0')
df['Activo'] = df['Activo'].replace(['0'], 'True')
df['Activo'] = df['Activo'].replace(['1'], 'False')
df['Activo'] = df['Activo'].astype(bool)

In [ ]:
df

,ID,Nombre,2016,2017,Crecimiento,Unidades,fecha,Activo
0,10002,Verde Mar,125000.0,$162500.00,30.00%,500,1-10-2015,True
1,552278,Manantial sa,920000.0,"$101,2000.00",10.00%,700,6-23-2014,True
2,23477,ACME,50000.0,62500.00,25.00%,125,3-12-2016,True
3,24900,Andes sur,350000.0,490000.00,4.00%,75,10-28-2015,True
4,651029,San Pablo,15000.0,$12750.00,-15.00%,0,2-15-2014,True
5,651029,San Pablo,-15000.0,$ 12750.00,-15.00%,0,2-15-2014,True

**f. Convierta el atributo unidades a entero y 2016 a flotante**

In [ ]:
#Convertir unidades a entero

df['Unidades'] = df['Unidades'].replace('No', '0')
df['Unidades'] = df['Unidades'].astype(int)

#Convertir 2016 a flotante

df['2016'] = df['2016'].astype(str).str.replace('[\$,]', '', regex=True)
df['2016'] = df['2016'].astype(float)

In [ ]:
df

,ID,Nombre,2016,2017,Crecimiento,Unidades,fecha,Activo
0,10002,Verde Mar,125000.0,$162500.00,30.00%,500,1-10-2015,True
1,552278,Manantial sa,920000.0,"$101,2000.00",10.00%,700,6-23-2014,True
2,23477,ACME,50000.0,62500.00,25.00%,125,3-12-2016,True
3,24900,Andes sur,350000.0,490000.00,4.00%,75,10-28-2015,True
4,651029,San Pablo,15000.0,$12750.00,-15.00%,0,2-15-2014,True
5,651029,San Pablo,-15000.0,$ 12750.00,-15.00%,0,2-15-2014,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           6 non-null      int64
 1   Nombre       6 non-null      object
 2   2016         6 non-null      float64
 3   2017         6 non-null      object
 4   Crecimiento  6 non-null      object
 5   Unidades     6 non-null      int64
 6   fecha        6 non-null      object
 7   Activo       6 non-null      bool
dtypes: bool(1), float64(1), int64(2), object(4)
memory usage: 470.0+ bytes

**2. Estadisticas descriptivas**

**a. Cree un diccionario con 20 datos que contengan al menos dos atributos continuos y una variable categórica (por ejemplo: nombre, nota, edad)**

In [27]:
import pandas as pd

Diccionario = [
    {   'Nombre': 'Juan Castro',
        'Nota': 5.5,
        'Edad': 30
    },
    {   'Nombre': 'Pablo Ordenes',
        'Nota': 6.3,
        'Edad': 29
    },
    {   'Nombre': 'Maria Celis',
        'Nota': 6.7,
        'Edad': 31
    },
    {   'Nombre': 'Jordi Van',
        'Nota': 6.1,
        'Edad': 29
    },
    {   'Nombre': 'Alison Napuri',
        'Nota': 7.0,
        'Edad': 25
    },
    {   'Nombre': 'Fabrizio Morocho',
        'Nota': 7.0,
        'Edad': 26
    },
    {   'Nombre': 'Oscar Reyes',
        'Nota': 7.0,
        'Edad': 32
    },
    {   'Nombre': 'Andrew White',
        'Nota': 5.2,
        'Edad': 27
    },
    {   'Nombre': 'Guido Vera',
        'Nota': 6.7,
        'Edad': 26
    },
    {   'Nombre': 'Carmen Caceres',
        'Nota': 6.8,
        'Edad': 30
    },
    {   'Nombre': 'Fabian Perez',
        'Nota': 5.5,
        'Edad': 28
    },
    {   'Nombre': 'Ana Atalaya',
        'Nota': 3.8,
        'Edad': 31
    },
    {   'Nombre': 'Monica Rubio',
        'Nota': 5.8,
        'Edad': 33
    },
    {   'Nombre': 'Cesar Tapia',
        'Nota': 4.8,
        'Edad': 34
    },
    {   'Nombre': 'Alfredo Jimenez',
        'Nota': 6.1,
        'Edad': 31
    },
    {   'Nombre': 'Fabian Jaramillo',
        'Nota': 6.5,
        'Edad': 28
    },
    {   'Nombre': 'Mayra Quintanilla',
        'Nota': 6.8,
        'Edad': 34
    },
    {   'Nombre': 'Karol Lostaunau',
        'Nota': 3.9,
        'Edad': 35
    },
    {   'Nombre': 'Clara Amada',
        'Nota': 6.9,
        'Edad': 33
    },
    {   'Nombre': 'Sebastian Cardenas',
        'Nota': 5.7,
        'Edad': 29
    }
]

Diccionario

[{'Nombre': 'Juan Castro', 'Nota': 5.5, 'Edad': 30},
 {'Nombre': 'Pablo Ordenes', 'Nota': 6.3, 'Edad': 29},
 {'Nombre': 'Maria Celis', 'Nota': 6.7, 'Edad': 31},
 {'Nombre': 'Jordi Van', 'Nota': 6.1, 'Edad': 29},
 {'Nombre': 'Alison Napuri', 'Nota': 7.0, 'Edad': 25},
 {'Nombre': 'Fabrizio Morocho', 'Nota': 7.0, 'Edad': 26},
 {'Nombre': 'Oscar Reyes', 'Nota': 7.0, 'Edad': 32},
 {'Nombre': 'Andrew White', 'Nota': 5.2, 'Edad': 27},
 {'Nombre': 'Guido Vera', 'Nota': 6.7, 'Edad': 26},
 {'Nombre': 'Carmen Caceres', 'Nota': 6.8, 'Edad': 30},
 {'Nombre': 'Fabian Perez', 'Nota': 5.5, 'Edad': 28},
 {'Nombre': 'Ana Atalaya', 'Nota': 3.8, 'Edad': 31},
 {'Nombre': 'Monica Rubio', 'Nota': 5.8, 'Edad': 33},
 {'Nombre': 'Cesar Tapia', 'Nota': 4.8, 'Edad': 34},
 {'Nombre': 'Alfredo Jimenez', 'Nota': 6.1, 'Edad': 31},
 {'Nombre': 'Fabian Jaramillo', 'Nota': 6.5, 'Edad': 28},
 {'Nombre': 'Mayra Quintanilla', 'Nota': 6.8, 'Edad': 34},
 {'Nombre': 'Karol Lostaunau', 'Nota': 3.9, 'Edad': 35},
 {'Nombre': 'Clara Amada', 'Nota': 6.9, 'Edad': 33},
 {'Nombre': 'Sebastian Cardenas', 'Nota': 5.7, 'Edad': 29}]

**b. Transforme dicho diccionario en un dataframe de pandas**

In [34]:
df1 = pd.DataFrame(Diccionario)
df1

                Nombre  Nota  Edad
0          Juan Castro   5.5    30
1        Pablo Ordenes   6.3    29
2          Maria Celis   6.7    31
3            Jordi Van   6.1    29
4        Alison Napuri   7.0    25
5     Fabrizio Morocho   7.0    26
6          Oscar Reyes   7.0    32
7         Andrew White   5.2    27
8           Guido Vera   6.7    26
9       Carmen Caceres   6.8    30
10        Fabian Perez   5.5    28
11         Ana Atalaya   3.8    31
12        Monica Rubio   5.8    33
13         Cesar Tapia   4.8    34
14     Alfredo Jimenez   6.1    31
15    Fabian Jaramillo   6.5    28
16   Mayra Quintanilla   6.8    34
17     Karol Lostaunau   3.9    35
18         Clara Amada   6.9    33
19  Sebastian Cardenas   5.7    29

**c. Obtenga estadisticas descriptivas de tendencia central**

In [35]:
# Media de las columnas 'Nota' y 'Edad'
media_nota = df1['Nota'].mean()
media_edad = df1['Edad'].mean()

# Mediana de las columnas 'Nota' y 'Edad'
mediana_nota = df1['Nota'].median()
mediana_edad = df1['Edad'].median()

# Moda de las columnas 'Nota' y 'Edad'
moda_nota = df1['Nota'].mode().iloc[0]
moda_edad = df1['Edad'].mode().iloc[0]

print("Media de Nota:", media_nota)
print("Mediana de Nota:", mediana_nota)
print("Moda de Nota:", moda_nota)

print("Media de Edad:", media_edad)
print("Mediana de Edad:", mediana_edad)
print("Moda de Edad:", moda_edad)

Media de Nota: 6.005
Mediana de Nota: 6.199999999999999
Moda de Nota: 7.0
Media de Edad: 30.05
Mediana de Edad: 30.0
Moda de Edad: 29

**c. Obtenga estadísticas descriptivas de dispersión**

In [36]:
# Desviación estándar de las columnas 'Nota' y 'Edad'
std_nota = df1['Nota'].std()
std_edad = df1['Edad'].std()

# Varianza de las columnas 'Nota' y 'Edad'
var_nota = df1['Nota'].var()
var_edad = df1['Edad'].var()

# Rango de las columnas 'Nota' y 'Edad'
rango_nota = df1['Nota'].max() - df1['Nota'].min()
rango_edad = df1['Edad'].max() - df1['Edad'].min()

# Estadísticas descriptivas de dispersión
print("Desviación Estándar de Nota:", std_nota)
print("Desviación Estándar de Edad:", std_edad)

print("Varianza de Nota:", var_nota)
print("Varianza de Edad:", var_edad)

print("Rango de Nota:", rango_nota)
print("Rango de Edad:", rango_edad)

Desviación Estándar de Nota: 0.9838030397659034
Desviación Estándar de Edad: 2.8923674513595623
Varianza de Nota: 0.9678684210526317
Varianza de Edad: 8.36578947368421
Rango de Nota: 3.2
Rango de Edad: 10

**3. Transformación e imputación de datos**

**a. Importe librerías panda y sklearn**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, LabelBinarizer

**b. Cargar base de datos de nombre ejemplo_data2.csv**

In [37]:
df2=pd.read_csv("/content/drive/MyDrive/Learning Machine/Modulo1/Miniproyecto1/ejemplo_data2.csv")#, index_col="ID" )
df2

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

**c. Para la variables numéricas, genere un diagnóstico de números perdidos. Luego impute los valores de acuerdo a la media y de acuerdo a otro criterio seleccionado por usted. Explore las opciones de imputación del método fillna() de pandas**

In [46]:
# Diagnóstico de numeros perdidos
numeros_perdidos = df2.isnull().sum()
print(numeros_perdidos)

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [47]:
# Imputación de valores perdidos con la media (solo columnas numéricas)
df2_media = df2.fillna(df2.mean(numeric_only=True))
print(df2_media)

              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea    YearBuilt  CouncilArea Lattitude  Longtitude  \
0         151.96765  1964.684217        Yarra -37.79960   144.99840
1          79.00000  1900.000000        Yarra -37.80790   144.99340
2         150.00000  1900.000000        Yarra -37.80930   144.99440
3         151.96765  1964.684217        Yarra -37.79690   144.99690
4         142.00000  2014.000000        Yarra -37.80720   144.99410
...             ...          ...          ...       ...         ...
13575     151.96765  1981.000000          NaN -37.90562   145.16761
13576     133.00000  1995.000000          NaN -37.85927   144.87904
13577     151.96765  1997.000000          NaN -37.85274   144.88738
13578     157.00000  1920.000000          NaN -37.85908   144.89299
13579     112.00000  1920.000000          NaN -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]

In [43]:
# Imputación de valores faltantes con cero
df2_cero = df2.fillna(0)
print(df2_cero)

              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               0.0        0.0        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3               0.0        0.0        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575           0.0     1981.0            0 -37.90562   145.16761
13576         133.0     1995.0            0 -37.85927   144.87904
13577           0.0     1997.0            0 -37.85274   144.88738
13578         157.0     1920.0            0 -37.85908   144.89299
13579         112.0     1920.0            0 -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]

In [45]:
# Imputación de valores faltantes con el valor anterior
df2_anterior = df2.fillna(method='ffill')
print(df2_anterior)

              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               NaN        NaN        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3             150.0     1900.0        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575         172.0     1981.0  Maribyrnong -37.90562   145.16761
13576         133.0     1995.0  Maribyrnong -37.85927   144.87904
13577         133.0     1997.0  Maribyrnong -37.85274   144.88738
13578         157.0     1920.0  Maribyrnong -37.85908   144.89299
13579         112.0     1920.0  Maribyrnong -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]

**d. Transforma las variables categóricas a numéricas, generando una variable dummy por cada categoria**

In [48]:
df2_dummy = pd.get_dummies(df2, columns=['Categoría'])
print(df2_dummy)

KeyError: ignored